body {
    width: 700px;
    margin: 0 auto;
}
#sortable {
    display: none;
}
#mover {
    
}
.move {
    display: block;
    height: 50px;
    width: 300px;
    /*position: absolute;*/
    top: 0;
    left: 0;
}
